---

---

<footer class="text-center bg-blue-600 text-white text-lg py-10 mt-10 w-full">
   <strong><p>Copyright &copy<span id="currentyear"></span>   |   FinEdge Pvt. Ltd.</p></strong> 
</footer> 

<script>
    document.querySelector("#currentyear").textContent=new Date().getFullYear().toString()
</script>