---
---

<div id="about" class="flex flex-col items-center font-semibold">
    <div>
        <h1 class="text-center text-7xl py-10 text-blue-900">
            Welcome to FinEdge
        </h1>
    </div>

    <div class="flex flex-col items-center">
        <div>
            <p class="font-bold text-xl">
                FinEdge is a new-age financial services platform that leverages
                technology and data-science to make lending quick and easy.
            </p>
        </div>

        <div class=" text-center">
            <p class="text-xl font-medium">
                FinEdge is credit for Incredible India. We use technology and
                data-science to make lending quick, simple and hassle-free. We
                believe traditional ways of lending can exclude those most in
                need because of outdated, rigid and often inefficient processes.
                At InCred, we have simplified the lending process with a sharp
                focus on serving our borrowers' unique needs and circumstances -
                offering our customers a truly superior borrowing experience.
            </p>
        </div>
    </div>
    <div class="bg-blue-800 flex flex-col justify-center items-center text-white text-lg">
        <div >
            <h2>Vision</h2>
            <p>
                To create a trustworthy, transparent and highest integrity
                financial institution that positively advances the
                socio-economic well-being of lower middle class to middle class
                Indian households while protecting the interests of all
                stakeholders
            </p>
        </div>
        <div >
            <h2>Mission</h2>
            <p>
                To be relentless in inculcating and nurturing a culture of
                continuous innovation and execution excellence by combining
                cutting edge technology, data science and deep financial domain
                expertise and delivering the best suited profitable products in
                the most dignified experiences for every customer
            </p>
        </div>
        <div >
            <h2>FinEdge Brand Philosophy</h2>
            <p>
                To build our brand through affirmative experiences where every
                moment-of-truth for our stakeholder conveys and endorses our
                core values 
            </p>
        </div>
        
    </div>
</div>

<style>
    #about {
        min-height: 100vh;
        width: 100vw;
    }
    #about div {
        width: 80%;
        padding: 1.5rem 0px;
        text-align: center;
    }

    div div h2{
        font-size: 2.5rem;
        font-weight: 500;
        margin-bottom: 2rem;
    }
</style>
