---
import "../../styles/home.css"
---

<div id="home" class="flex flex-col justify-center items-center text-center">
    <h1 class=" ">
        <p class="flex flex-col justify-center items-center leading-relaxed ">
            <span>Borrow With Confidence.Trade With Confidence.</span><span
                >Grow With Confidence</span>
        </p>
    </h1>
    <p class=" text-center">FinEdge is a new-age financial services platform that leverages technology and data science across its suite of offerings.</p>
    <button class="px-5 py-3.5"><a>Apply Now</a></button>
</div>

<style>
  
</style>