---
---

<div id="services" class="flex flex-col justify-center items-center mt-32">
    <div class="text-center flex flex-col items-center">
        <h1 class="text-5xl text-blue-900">
            What Services does FinEdge offer?
        </h1>
        <p class="text-xl py-6 w-10/12 ">
            Get answers to specific queries on how FinEdge can help you become
            Credit Healthy
        </p>
    </div>
    
    <div class="flex justify-center items-start w-10/12" id="services-main">
        <div class="w-9/12 bg-slate-50" id="left">
            <div class="mx-8 my-6">
                <p class="text-xl">
                    On the <span><a href="#">FinEdge website</a></span>,
                    consumers start by understanding the status of their Credit
                    Health and creating their Credit Profile. The starting point
                    of the Credit profiling is accessing the Credit History and
                    Score from the bureau - FinEdge obtains the same free of
                    cost from Equifax besides supporting CIBIL report format.
                    Once the Credit Profile is generated, the user is guided
                    towards the solution which best matches the user's stated
                    Credit Goal and Credit Profile. The solutions offered vary
                    depending on the user's credit goal - be it discovery of
                    lender products like loans or credit cards, resolution for
                    past loan issues, reduction in current borrowing costs etc.
                    <br />
                    <p class="font-semibold text-xl">Our services include:</p>
                    <ul class="list-disc pl-8 text-xl">
                        <li>Apply for Loans and Credit Cards</li>
                        <li>Credit Improvement services</li>
                        <li>First time borrower solutions</li>
                        <li>Free Credit Health Check</li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="w-3/12 px-10 py-5" id="right">
            <div class="bg-slate-600 pb-6">
                <div
                    class="text-center text-xl text-yellow-400 px-4 py-6 bg-green-500"
                >
                    <p>Check Credit Score for FREE in 1 min</p>
                </div>

                <div class="flex flex-col items-center py-2 my-8" id="form-div">
                    <form class="flex flex-col items-center ">
                        <label for="phone" class="font-bold text-lg text-white"
                            >Phone number</label
                        >
                        <input
                            type="tel"
                            name="phone"
                            id="phone"
                            class="text-xl border-none outline-none w-10/12 px-2 py-1 my-4 bg-slate-200"
                        />
                    </form>
                    <button
                        class="w-10/12 py-4 px-4 text-xl font-bold bg-orange-500 hover:bg-orange-600 rounded-md"
                        >Get Started</button
                    >
                </div>
            </div>
        </div>
    </div>
    <div class="w-7/12 bg-blue-900 px-6 py-4 text-white rounded-lg my-4">
        <h4 class="text-2xl font-bold">
            <a href="#" class= "text-orange-400 hover:text-orange-600 underline"> Fast ,Secure Money Transfer</a>
        </h4>
        <p class="text-lg">
            Send money overseas at better exchange rates, with no hidden fees.
            <br />
            Just setup your transaction,Add recipent details,Choose your transfer
            method and transfer money to the receiver.
            <br />
            Quick and easy money transfer in domestic or internationally.
        </p>
    </div>
    <div class="w-7/12 bg-blue-900 px-6 py-4 text-white rounded-lg my-4">
        <h4 class="text-2xl font-bold">
            <a href="#" class= "text-orange-400 hover:text-orange-600 underline">Loans And Credit Cards</a>
        </h4>
        <p class="text-lg">
            Enjoy attractive interest rates, among the lowest in the market.
            <br />
            Repay loans in easy and flexible instalments based on your needs by choosing a tenure between 12 to 60 months and check the EMIs accordingly and Calculate EMIs with our <span><a href="#" class="underline text-blue-400">Credit Card Loan EMI Calculator</a></span>
            <br />
            40 lakh + customers have availed a loan via our digital portal
        </p>
    </div>
    <div class="w-7/12 bg-blue-900 px-6 py-4 text-white rounded-lg my-4">
        <h4 class="text-2xl font-bold">
            <a  class= "text-orange-400 hover:text-orange-600 underline">Investment And Trading</a>
        </h4>
        <p class="text-lg">
            With FinEdge,stock market investors no longer need to transact directly with a stock exchange to buy or sell stocks. Investors can conduct transactions even on their mobile devices. Our trading app have also been developed to cater to investors with lower budgets.
        </p>
    </div>
    
</div>

<style>
    @media screen and (width<750px) {
    #services-main {
   display: flex;
   flex-direction: column;
   align-items: center;
}
#left{
    width: 90%;
}
#right{
    width: 90%;
    
}
#form-div{
    padding: 0;
}
}
</style>